@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
}
$maincolor:rgb(30, 8, 30);
@mixin mainsetting{
    color: #ffff;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin default{
    font-weight: 700;
    font-size: 16.1561px;
    line-height: 102.5%;
    color: #ffff;
}
.header{
    background-color: $maincolor;
    width:100%;
    height:90px;

}
.header__container{
    margin: 0 auto;
    width:80%;
    @include mainsetting;
}
.container__logo{
    width: 7%;
    height:80px;
    @include mainsetting;
}
.nav{
    @include mainsetting;
    width: 30%;
}
.nav a{
    @include mainsetting;
    font-weight: 400;
    font-size: 20px;
    line-height: 89.5%;
}
.burgermenu{
    width:67px;
    height:16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.burgermenu__line{
    width:67px;
    height:2px;
    background-color:#ffff;
    border-radius: 100px;
}
@media only screen and (max-width : 1920px) {
    .burgermenu__line{
        display: none;
    }
    .nav{
        @include mainsetting;
        width: 60%;
    }
}
@media only screen and (max-width : 1680px) {
    .burgermenu__line{
        display: none;;
    }
    .nav{
        @include mainsetting;
        width: 50%;
    }
}
@media only screen and (max-width : 1366px) {
    .burgermenu__line{
        display: none;
    }
}
@media only screen and (max-width : 1280px) {
    .burgermenu__line{
        display: none;
    }
}
@media only screen and (max-width : 1024px) {
    .burgermenu__line{
        display: none;
    }
}
@media only screen and (max-width : 800px)  {
    .burgermenu__line{
        display: none;
    }
    .nav{
        @include mainsetting;
        width: 50%;
    }
}
@media only screen and (max-width : 768px)  {
    .burgermenu__line{
        width:67px;
        height:2px;
    }
    .nav{
        display: none;
    }
}
@media only screen and (max-width : 600px)  {
    .burgermenu__line{
        width:67px;
        height:2px;
    }
}
@media only screen and (max-width : 533px)  {
    .burgermenu__line{
        width:67px;
        height:2px;
    }
}
@media only screen and (max-width : 360px)  {
    .burgermenu__line{
        width:67px;
        height:2px;
    }
}
@media only screen and (max-width : 320px)  {
    .burgermenu__line{
        width:67px;
        height:2px;
    }
}